@model AudioCore.Entity.AudioEntity
@{
    ViewBag.Title = "甘孜藏族自治州民族博物馆";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    
}

@section styles {

}

<div class="container" style="background-color:#E9E9E9">
    <audio controls="controls" autoplay="autoplay" style="position:relative; padding-top:3%; padding-left:10%; padding-right:10%; padding-bottom:2%;background-color:#FFFFFF; width:80%;">
        @foreach (var item in Model.AudioFile)
        {
            string mp3Url = Web.Controllers.Units.UrlConvertToR(item.FileAddress);

            <source src="@Url.Content("~/"+mp3Url)" type="audio/mpeg" />
        }
        Your browser does not support the audio element.
    </audio>
    <div class="header-logo1" style="position:absolute; padding-top:4%; padding-left:1%; padding-right:1%; height:100%; background-color:#FFFFFF;">

        <div style="width:98%; padding-bottom:10px;">
            <b>@Model.Title</b>
        </div>
        <div style="width:98%;padding-left:1%; padding-right:1%;background-color:#F2F2F2; padding-top:1%;border:1px solid #CCC;border-bottom-color:#F2F2F2;">
            @foreach(var itemImg in Model.ImgFile)
            {
                int uploadIndex = itemImg.FileAddress.IndexOf("Upload");
                string url = itemImg.FileAddress.Substring(uploadIndex);
                <img src="@Url.Content("~/" + url)" />
            }
            
            
        </div>

        <div style="width:94%; background-color:#F2F2F2;padding-left:3%; padding-right:3%;border:1px solid #CCC;border-top-color:#F2F2F2;">
            <div align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Content</div>

        </div>

    </div>

</div>






@section scripts {
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        OP_CONFIG.module = 'mobile';
        OP_CONFIG.page = 'index';
       
       
        
    </script>
}

