@model AudioCore.Entity.AudioEntity
@{
    ViewBag.Title = "手机播放";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    
}

@section styles {

}

<div class="header-logo" style="position:absolute;">
    <img src="@Url.Content("~/assets/mobile/images/aa.jpg")" />
</div>
<div class="header-logo1" style="position:absolute; padding-top:51%; padding-left:1%;">
    <div style="padding-left:1%; padding-right:1%">
        <img src="@Url.Content("~/assets/mobile/images/g1.jpg")" />
    </div>
</div>

<audio controls="controls" autoplay="autoplay" style="position:relative; padding-top:55%; padding-left:1%;">
    @foreach (var item in Model.AudioFile)
    {
        string mp3Url =Web.Controllers.Units.UrlConvertToR(item.FileAddress);
        
        <source src="../@mp3Url" type="audio/mpeg" />
    }
    
    Your browser does not support the audio element.
</audio>


@section scripts {
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        OP_CONFIG.module = 'mobile';
        OP_CONFIG.page = 'index';
       
       
        
    </script>
}

