@model AudioCore.Entity.AudioEntity
@{
    ViewBag.Title = "手机播放";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

@section styles {
    <link href="@Url.Content("~/assets/css/weui/weui.min.css")" rel="stylesheet" />
}


<audio id="bgmusic" src="http://www.w3school.com.cn/i/song.mp3" autoplay preload loop controls></audio>
<article class="weui_article">
    <h1>@Model.Title</h1>
    <section>
        <h2 class="title">说明</h2>
        <section>
            
            <p>
                @Model.Content
            </p>
        </section>
        <h2>音乐</h2>
        <section>
            <p>
                
            </p>
        </section>
    </section>
</article>

@section scripts {
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        OP_CONFIG.module = 'mobile';
        OP_CONFIG.page = 'index';
    </script>
}

