<div class="container" style="background-color:#E9E9E9">
    <audio controls="controls" autoplay="autoplay" style="position:relative; padding-top:3%; padding-left:10%; padding-right:10%; padding-bottom:2%;background-color:#FFFFFF; width:80%">
        <source src="song.ogg" type="audio/ogg" />
        <source src="images/wuwangxinan.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>
    <div class="header-logo1" style="position:absolute; padding-top:4%; padding-left:1%; padding-right:1%; height:100%; background-color:#E9E9E9;">

        <div style="width:98%;padding-left:1%; padding-right:1%;background-color:#FFFFFF; padding-top:1%;border:1px solid #CCC;border-bottom-color:#FFFFFF;">
            <img src="./images/g1.jpg" />
        </div>
        <div style="width:94%; background-color:#FFFFFF;padding-left:3%; padding-right:3%;border:1px solid #CCC;border-top-color:#FFFFFF;">
            <div align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;介绍一介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍一介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍一介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍一介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</div>
        </div>

    </div>

</div>