@model List<audiocore.entity.AudioEntity>

    <!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
              "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
    <html>
    <head>
        <title>康定展馆</title>
        <!--Custom Theme files-->
        <link href="./css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!--Custom Theme files-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

    </head>
    <body>
        <!--- header-top ---->
        <div id="home" class="header-top">
            <!--- container ---->
            <div class="container">
                
            </div>
        </div>

    </body>
</html>
