.ikea-audio .music p span{
	background:url(images/music.png) no-repeat 0 0;
	background-size:cover;cursor:pointer
}
.ikea-audio{
	top:1%;
	right:1%;
	z-index:999;max-width:50px
}
.ikea-audio .music p{
	width:100%;
	height:100%
}
.ikea-audio .music p span{
	display:none;
	width:100%;
	height:100%
}
.ikea-audio .music p span:first-child{
	display:block
}
.ikea-audio .music audio{
	height:0;
	width:0;
	opacity:0
}
.ikea-audio .music p span.audio_open{
	background-position:-100% 0
}
.ikea-audio .music p span.audio_close{
	background-position:0 0
}



.m_st_1{
	background-image:url(../images/1.png);
	width:100%;
	height:100%;
}
.m_st_a1{
	-webkit-transform: none;
	 box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
	 padding-top:315px;
	 padding-left:5px;
}
.m_st_a2{
	-webkit-transform: none;
	 box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
	  -webkit-animation: fadeIn 2s ease 0s infinite both;
}
.m_st_a3{
	-webkit-transform: none;
	 box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
	  -webkit-animation: fadeInLeft 2s ease 0s 1 both;
}
.m_st_a4{
	-webkit-transform: none;
	 box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
	  -webkit-animation: fadeInRight 2s ease 0s 1 both;
}
.m_st_a5{
	-webkit-transform: none;
	 box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
	  -webkit-animation: fadeInDown 3s ease 0s 1 both;
}
.m_st_a6{
	-webkit-transform: none;
	 box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
	  -webkit-animation: fadeInUp 3s ease 0s 1 both;
}
.m_st_a7{
	-webkit-transform: none;
	 box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 0px;
	  -webkit-animation: fadeInUp 2s ease 0s 1 both;
}
.m_st_2{
	background-image:url(../images/1s.jpg);
	width:100%;
	height:100%;
}